/* Empty file for template. Remember to edit only this file and not the HTML file */

#css-zen-garden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(195, 234, 227);
    align-items: flex-end;
    height: fit-content;
}

.page-wrapper {
    
    width: 85vw;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 5em;
    background-color: #86bdddcc;
    height: fit-content;
}

[role=banner] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 20em;
    margin-bottom: 2em;
    background-color: #8ebdcecc;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    width: fit-content;
}

[role=banner] > h1 {
    align-self: flex-end;
    background-color: #ea2e49;
    color: #fff;
    display: inline-block;
    padding: 0.5em 0.75em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 3.2em;
    font-weight: normal;
}

.preamble {
    background-color:rgb(216, 151, 207)
}

[role=banner] > h2 {
    color: #fff;
    display: inline-block;
    font-weight: 900;
    font-size: 8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}


