/* Empty file for template. Remember to edit only this file and not the HTML file */
h1 { font: bold 3.2rem Helvetica, Arial, sans-serif; margin: 0 0 0.5em; }
h2 { font: bold 1.8rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h3 { font: bold 1.5rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }

#css-zen-garden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(195, 234, 227);
    align-items: flex-end;
    height: fit-content;
}

.page-wrapper {
    width: 85vw;
    margin-top: 30px;
    padding: 20px;
    background-color: #86bdddcc;
    height: fit-content;
}

[role=banner] > h1 {
    background-color: #ea2e49;
    display: inline-block;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

[role=banner] > h2 {
    display: inline-block;
}


