/* Empty file for template. Remember to edit only this file and not the HTML file */

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

a {
    color:rgb(192, 159, 201);
    text-decoration-thickness: 1px;
}

#css-zen-garden {
    display: grid;
    grid-template: repeat(60, 1fr) / repeat(30, 1fr);
    height: 400vh;
    background-color:rgb(191, 191, 219);
}

.page-wrapper > *{
    display: none;
}

.page-wrapper {
    display: grid;
    grid-template: repeat(60, 1fr) / repeat(30, 1fr);
    grid-column: 2 / 30;
    grid-row: 2 / 60;
    background-color:powderblue;
}

/* Intro */

#zen-intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-column: 2 / 20;
    grid-row: 2 / 25;
}

[role = banner] > h1{
    align-self: flex-end;
    background-color: #a0e1c2;
    color: #fff;
    display: inline-block;
    padding: 0.5em 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 3.2em;
    font-weight: normal;
}

[role = banner] > h2 {
    color: #fff;
    display: inline-block;
    font-weight: 900;
    font-size: 9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.summary > p {
    display: inline-block;
    font-size: 1.7em;
    font-family: "Monaco", monospace; 
    text-transform: uppercase;
    color: #fff;
}

.preamble {
    background-color:rgb(216, 151, 207);
    height: 100%;
    width: 107%;
    align-self: flex-end;
    padding-left: 2%;
}

[role = article] > h3 {
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-bottom: 0.5em;
}



